<div class="container">
<h1>Menus#new</h1>

<div class="new_menu">
<%= simple_form_for @menu do |f| %>
  <div class="form_new_menu">
    <div class="calendar_new_menu">
    <p>Semaine du :</p>
    <%= f.date_field :startdate, :id => "datepicker" %>
    </div>
  </div>
  <div class="button_new_menu">
    <%= f.submit 'Créer mon menu' %>
    </div>
<% end %>
</div>

</div>
