<h1>Menus#show</h1>

<h2>Menu de la semaine du <%= @startday[2] %> / <%= @startday[1] %> / <%= @startday[0] %>  </h2>


<% @resultweek.each do |day| %>
  <div class="menu-week">
    <%= day %>
  </div>
<% end %>
