// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #a9ccbf;
$yellow: #FDB631;
$orange: #ff9f8c;
$green: #4D9078;
$dark-gray: #A9A9A9;
$gray: #cacfd6;
$light-gray: hsl(0%, 0%, 96%);
