// DAY-SHOW

.days-show {
  h1 {
    font-size: 1.8em;
  }
  .lastmenu {
    border: none;
  }
  .stock-checkbox {
    margin-top: 2px;
  }
}

.day-editplatname {

  margin-bottom: 0.3em;
  .col-xs-2 {
    padding-left: 0;
  }
  input {

  }
}

.display_plats {
  padding-top: 10px;
  padding-bottom: 15px;
  h3 {
    margin-top: 7px;
  }
}
.plat_type {
  color: $dark-gray;
  padding-left: 5%;
  font-size: 0.9em;
  font-weight: bold;
  line-height: 2.5em;
  text-align: center;
}

.plat-ingredientslist {
  display: flex;
  justify-content: center;
  align-content: center;
  color: $dark-gray;

  ul {
    width: 90%;
  }
  ul li {
  text-align: center;
  margin-bottom: 2px;
  position: relative;

  }
  a {
    font-size: 0.5em;
    position: absolute;
    top: 0px;
    right: 0px;
  }

}


.ingredient-list {
  color: white;
  background-color: $green;
  font-size: 0.9em;
  text-transform: uppercase;
  padding-left: 4px;
  padding-right: 4px;
  margin-right: 3px;
  border-radius: 2px;
}

.plat_ingredients {
  position: relative;
  padding-bottom: 20px;


}

.submit-day-plat {


    line-height: 2.5em;
}

.day-platdetail {
  position: absolute;
  bottom: 2px;
  right: 2px;
  background-color: $dark-gray;
  color: white !important;
  font-size: 0.8em;
  padding-left: 4px;
  padding-right: 4px;
  opacity: 0.8;
  border-radius: 2px;
  &:active {
    opacity: 1;
  }
}

.day-eachplat {
  border: 1px solid $green;
  padding-top: 0.5em;
  margin-bottom: 7px;
}

// DAY INDEX

.finalmenu {
  color: $dark-gray;

}

.plat-finalmenu {
  margin-bottom: 1vh;
  margin-left: 0;
  margin-right: 0;

  .finalmenu-plat {
    ul {
      margin-bottom: 0;
      padding-top: 4px;
    }
  }

  h3 {
    text-transform: lowercase;
    font-weight: bold;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 4vh;
    color: $green;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0.3vh ;
    text-align: left;

  }
  .menu-plattype {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2vh;
    background-color: $orange;
    color: white;
    padding-left: 5px;
    padding-right: 5px;
  }
  .menu-platname {
    text-align: right;
    margin-left: 3px;
    font-size: 2.5vh;
    text-transform: uppercase;
    align-self: flex-end;
  }
  .menu-platrecette {
    .fas {
      font-size: 1.3vh;
    }
    li:hover {
      text-decoration: none;
    }
  }
}

.ingredient-notuser {
  .todo-ingname {
    text-decoration: none;
  }
}
