// Specific CSS for your home-page

.pages-home{
  background-color: $blue;

}

#home-explanations {
  padding-top: 50px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: calc(100vh - 110px);
}

.home-container {
  width: 90%;
  h1, h2{
    color: white;
    font-size: 2.2em;
  }
  p, li {
    color: white;
  }
}

.home-card {
  height: 180px;
  display: flex;
  justify-content: center;
  .home-card-inside {
    width: 80%;
    background-color: white;
    margin-top: 10px;
  }
  .home-image {
    display: flex;
    justify-content: center;
    margin-top: 8%;
    width: 100%;
  }
  img {
    margin-bottom: 2vh;
  }
  p {
    color: $gray;
    text-align: center;
  }
}


