// Specific CSS for your home-page

.pages-home{
  background-color: $blue;
  h1 {
    color: white;
    text-transform: uppercase;
  }
  h2 {
    margin-top: 5px;
    color: white;
  }
  h3 {
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.5em;
  }
  p {
    color : white;
  }
}

#home-explanations {
  padding-top: 50px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: calc(100vh - 110px);
}

.home-container {
  width: 90%;
  h1, h2{
    color: white;
    font-size: 2.2em;
  }
  p, li {
    color: white;
  }
}

.home-card {
  height: 20vh;
  display: flex;
  justify-content: center;
  .home-card-inside {
    width: 80%;
    background-color: white;
    margin-top: 10px;
    position: relative;
  }
  .home-image {
    display: flex;
    justify-content: center;
    margin-top: 8%;
    width: 100%;
  }
  img {
    margin-bottom: 2vh;
  }
  p {
    color: $gray;
    text-align: center;
    font-size: 2vh;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
  }
}


.home-accent {
  position: absolute;
  top: 0.5em;
  transform: rotate(-20deg);
  left: -0.5em;
  p {
    font-weight: bold;
    background-color: $orange;
    color: white;
    padding: 1px 4px;
  }
}
