.ingredient-card {
  border: 1px solid $green;
  padding-top: 5px;
  margin-bottom: 10px;
  color: $dark-gray;
}

.form_edit_ingredient {
  margin-top: 0.5em;
  display: none;
}

.edit-ingredient {
  position: relative;
  margin-bottom: 5px;
  .ingredient_name, #ingredient_name {
    width: 100%;
  }
  .button_edit_ingredient {
  position: absolute;
  top: 0.3em;
  right: 3em;
  }
  .submit-edit-button {
    position: absolute;
  top: 0.3em;
  right: 0.5em;
  }
    .ingredient_quantity, #ingredient_quantity, .ingredient_unity, #ingredient_unity {
    width: 100%;
  }
  .edit-quantity {
    padding-left: 3px;
    padding-right: 0px;
  }
  input, select {
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 3px;
    font-size: 0.9em;
    border: none;
    border-bottom: 1px solid $green;
    text-align: center;
  }
  .fas {
    margin-left: 3px;
  }
}

.submit-todo-button {
  padding-top: 1.3em;
  padding-left: 0em;
}

.form-todo {
  margin-left: 0;
  margin-right: 0;
  background-color: $blue;
  label {
    color: white;
    margin-bottom: 0;
  }
  select {
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 3px;
    font-size: 0.9em;
    border: none;
    border-bottom: 1px solid $green;
    text-align: center;
  }
  .todo-select {
    padding-left: 5px;
    padding-right: 5px;
  }
}

.list-newtodo {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  li {
    font-size: 0.9em;
  }
}
