 /* menu index */

.lastmenu {
  background-color: transparent;
  border-top: 2px dashed $green;
  border-bottom: 2px dashed $green;
  margin-bottom: 10px;
  padding: 1em;
  width: 100%;
  height: 20vh;
  position: relative;
  p, a, a:hover, a:active, a:target {
    text-decoration: none;
    color: $dark-gray;
  }
  p {
    height: 60%;
    line-height: 1;
    padding-top: 10%;
  }
}

.menu_liens {
  text-align: right;
  margin-bottom: 2em;
  margin-right: 1em;

  a {
    color: $green;
  }
}

.links-menu {
  display: flex;
  justify-content: space-around;
}

.link-menu1 {
  background-color: white;
  font-size : 1em;
  border: 1px solid $orange;
  padding: 0.6em;
  border-radius: 1px;
  width: 2.5em;
  height: 2.5em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.link-menu1:hover {
  background-color: $orange;
}
.link-menu1 i {
  color: $orange;
}
.link-menu1:hover i {
  color: white;
}

.menu-editlink {
  position: absolute;
  top: 0.3em;
  right: 0.3em;
}

.menu-date {
  font-weight: bold;
  font-size: 1.5em;
}

 /* menu_new */

 .new_menu {
  display: flex;
  justify-content: space-between;
  p {
    padding-top: 0;
  }
 }

.form_new_menu {
  width: 73%;
  height : 2.5em;
  position: relative;
}

.calendar-label {
  position: absolute;
  top: -18px;
  left: 10px;
}

.calendar_new_menu {
  width: 100%;
  height : 100%;
  input {
    width: 100%;
  height : 100%;
    color: $dark-gray;

  }
}



 /* menu show */

 .display_all_repas {
  display: flex;
  justify-content: center;
 }

.display_repa {
  color: $dark-gray;
  font-size: 0.9em;
  margin: 0.5em;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  border: 1px solid $green;
  width: 100%;
  .edit_plat {
    width: 100%;
  }

  .plattype-platname {
    font-size: 0.9em;
  }

  #plat_name, .plat_name {
    width: 75%;
    font-size: 0.9em;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px !important;
  }

  .form_platname {
    width: 100%;
  }
}

.menu-week {
  h3 {
    font-size: 1.5em;
    text-align: center;
  }
}
