 /* menu index */

.lastmenu {
  border: 3px solid white;
  border-radius: 2px;
  margin: 1em 1em;
  padding: 1em;
  height: 15vh;
  p, a, a:hover, a:active, a:target {
    text-decoration: none;
    color: white;
  }
}

.menu_liens {
  text-align: right;
  margin-bottom: 2em;
  margin-right: 1em;

  a {
    color: white;
  }
}

 /* menu_new */

.form_new_menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button_new_menu {
  text-align: center;
  margin: 2em auto;
  input {
  background-color: transparent;
  border: 1px solid white;
  box-shadow: 0;
  color: white;
  padding: 0.5em;
  }
}


 /* menu show */

 .display_all_repas {
  display: flex;
  justify-content: center;
 }

.display_repa {
  color: white;
  font-size: 0.9em;
  margin: 0.5em;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  border: 1px solid white;
  width: 100%;
  .edit_plat {
    width: 100%;
  }

  .plattype-platname {
    font-size: 0.9em;
  }

  #plat_name, .plat_name {
    width: 75%;
    font-size: 0.9em;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px !important;
  }

  .form_platname {
    width: 100%;
  }
}

.menu-week {
  h3 {
    font-size: 1.5em;
    text-align: center;
  }
}
