<div class="container">
<h1>Repas#index</h1>

<h3>Ma liste de course</h3>
<ul class="list-inline">
<% @ingredients.each do |ingredient|  %>
  <%= render 'ingredients/showupdate', menu: @menu, ingredient: ingredient %>

<% end %>
</ul>


<%= link_to "Mon menu", menu_days_path(menu_id: @menu.id) %>
<%= link_to "Ma liste de courses", menu_repas_path(menu_id: @menu.id) %>
<%= link_to "Ma todo list", menu_todos_path(menu_id: @menu.id)  %>
</div>
