<% if controller_name == "pages" %>


<div class="footer">
  <div class="footer-links">
    <%= link_to "http://github.com/annabplr" do %>
    <div>
    <i class="fab fa-github"></i>
    </div>
    <% end %>
    <%= link_to "http://instagram.com/batchkagram" do %>
    <div>
    <i class="fab fa-instagram"></i>
    </div>
    <% end %>
    <%= link_to "http://linkedin.com/apellier" do %>
    <div>
    <i class="fab fa-linkedin"></i>
    </div>
    <% end %>
  </div>
</div>
<% end %>
