/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */
.general-alert{
  background-color: transparent;
  width: 100%;
  display: flex;
  justify-content: center;

}

.alert {
  margin: 0;
  margin-top: 5px;
  text-align: center;
  color: $green;
  font-weight: bold;
  width: 50%;
  z-index: 9;

}
.alert-info {
  background: transparent;
  border: 1px dashed $blue;
  color: $green;
}
.alert-warning {
  background: transparent;
  border: 1px dashed $blue;
  color: $orange;
}
